<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value ="Production"/>
    <!--  <add key="Server" value ="QA"/> -->
    <add key="productionURL" value="http://pvm-web/"/>
    <add key="Batchid" value="20180925-003"/>
    <add key="InboxWorkList" value="My Worklist" />
    <add key ="ddltype" value="Investor"/>
    <!-- ddltype "Investor" for production
         ddltype "Legal Entity" for UAT -->
    <add key="WireId" value="20130816-0730001"/>
    <add key="WireInvestorName" value="Texas Emerging Managers Private Markets Program, L.P."/>

    <add key ="AdminUser" value="Leung, Leona (I)"/>
    <add key ="FundType" value="AEP Fund, L.P."/>
    <add key="ErrorLocation" value="C:\\CME\\ErrorNotifications\\"/>

    <add key="UserMaintananceAndEntitlements" value="Srangappa"/>
    <add key ="UserLastName" value="rangappa"/>
    <add key ="UserFirstName" value="sneha"/>
    <add key ="Useremailid" value="sdprvtmktcmecare@gcmlp.com"/>
    <add key ="Userphoneno" value="(646)362-3600"/>

    <add key="Ddluser" value="Ali, Mohamed"/>
    
    
  </appSettings>
</configuration>